    <% 
if(tasks.length > 0){
    for(const task of tasks) {
        if (task.isTaskDone == true && task.isTaskCleared == true){ 
%>
    <form action='/viewCompleted' method='post'>
        <input type='submit' class="btn btn-outline-secondary" id="button-addon2" value='View Completed Tasks'>
    </form>
    <% 
break } } } 
%>