<div class="addNewTask">
    <div class="input-group mb-3">
        <input type="text" id="newItemText" class="form-control" placeholder="Enter a new task here"
            aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="addNewTask">Add</button>
    </div>
</div>