<div class="input-group mb-3">
    <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
    </div>
    <input type="text" class="form-control completed" aria-label="Text input with checkbox"
        placeholder="This is a task claimed by me" aria-label="Disabled input example" disabled readonly>

    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Abandon</button>
</div>